<html>
  <head>
    <link href="slideshow.css" rel="stylesheet" media="screen"/>
  </head>
  <body>
  
    <div class="presentation">
    
      <div class="slide" id="coding">

            <h1>CODING EXERCISE 1</h1>
            <h2>SHOULD DISPLAY A CODE EXECUTION SLIDE</h2>
	    
	    <section class="code">
	    
            <div class="code" id="code_input"></div>
	    <div class="code_helper" id="code_helper"></div>
	    
	    <input type="button" id="execute" value="EXECUTE (ALT-R)">
            <textarea class="code_result" id="code_output"></textarea>
	    
	    </section>
	
        </div>
	
	

      </div> <!--presentation-->
      
    <script src="ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="slideshow.js"></script>
    <script src="slideshow-teacher.js"></script>
    
  </body>
</html>