<html>
  <head>
    <link href="slideshow.css" rel="stylesheet" media="screen"/>
  </head>
  <body>
  
    <div class="presentation">
    
      <div class="slide" id="coding">

            <h1>CODING EXERCISE</h1>
            <h2>SHOULD DISPLAY A CODE EXECUTION SLIDE</h2>
	    
	    <section class="code">
	    
            <textarea class="code" id="code_input"></textarea>

	    <input type="button" id="execute" value="EXECUTE (ALT-R)">

            <textarea class="code_result" id="code_output"></textarea>	    
	    
	    </section>
	
        </div>

      </div> <!--presentation-->

    <script src="slideshow.js"></script>
    <script src="slideshow-teacher.js"></script>
    
  </body>
</html>